<% content_for(:bodyclass) {"home"} -%> 
<% content_for :title, "Iniciativas"%>
<div class="page">
  
  <div class="page-content2 home-content ">

	<% news_ne = News.not_expirated %>
	<% if news_ne %>
		<h6>Novedades:</h6>
		<ul class="home_proposals">
			<ul class="noticias">
			<% news_ne.each do |news| %>
				<li>
				<h5><%=news.title.html_safe%></h5>
				<div class="small_news">
					<%=news.description.html_safe %>
				</div>
				</li>
			<% end %>
			</ul>
		</ul>
		
	<% end %>

	<h6>Iniciativas en curso:</h6>

    <ul class="home_proposals">
		
		<% if @endorsment_proposals.count == 0 and @ilp_proposals.count == 0 then %>
			<h2>No hay iniciativas activas en este momento.</h2>
			<h3>¿Tienes alguna propuesta? <A HREF="http://blog.mifirma.com/question/como-empiezo-a-recoger-firmas-para-mi-ilp-mediante-mifirma">Envíanosla</A></h3>
		<% else %>
			<ul class="partidos">		
			<% if @endorsment_proposals then %>
					<% @endorsment_proposals.each do |endorsment_proposal| %>
					<li>
						<h5>
							<%= link_to endorsment_proposal.name, endorsment_proposal_path(endorsment_proposal) %>
							<span>Acción promovida por: <%= link_to endorsment_proposal.promoter_name, endorsment_proposal.promoter_url %></span>
							<%= link_to "Leer más", endorsment_proposal_path(endorsment_proposal), {:class => "read_more"} %>
						</h5>
						<div class="small_proposal">
							<%= image_tag endorsment_proposal.banner.url, :width => 150, :class => "thumb" %>
							<%= endorsment_proposal.problem.html_safe %>
						</div>
					</li>
					<% end %>
			<% end %>
			<% if @ilp_proposals %>
				<% @ilp_proposals.each do |ilp_proposal| %>
				<li>
					<h5>
						<%= link_to ilp_proposal.name, proposal_path(ilp_proposal) %>
						<span>Acción promovida por: <%= link_to ilp_proposal.promoter_name, ilp_proposal.promoter_url %></span>
						<%= link_to "Leer más", proposal_path(ilp_proposal), {:class => "read_more"} %>
					</h5>
					<div class="small_proposal">
						<%= image_tag ilp_proposal.banner.url, :width => 150, :class => "thumb" %>
						<%= ilp_proposal.problem.html_safe %>
					</div>
				</li>
				<% end %>  
			<% end %>
			</ul>
		<% end %>
  </div>


  <div class="page-sidebar2 home_sidebar">
	<%= render :partial => 'shared/how_it_works' %>
  </div>

  <div class="clear">&nbsp;</div>
</div>