<% content_for(:bodyclass) {"home"} -%> 
<div class="page">
  
  <div class="page-content home-content ">
    <h6>Iniciativas en curso:</h6>

    <ul class="home_proposals">
		<li>
			<h5>
				<%= link_to 'Avales para partidos políticos', endorsment_proposals_path %>
			</h5>
		</li>
		<% @ilp_proposals.each do |ilp_proposal| %>
		<li>
			<h5>
			  <%= link_to ilp_proposal.name, proposal_path(ilp_proposal) %>
			  <span>Acción promovida por: <%= link_to ilp_proposal.promoter_name, ilp_proposal.promoter_url %></span>
			  <%= link_to 'Leer más', proposal_path(ilp_proposal), {:class => "read_more"} %>
			</h5>
			<div class="small_proposal">
			  <%= image_tag ilp_proposal.banner.url, :width => 150 %>
			  <%= ilp_proposal.problem.html_safe %>
			</div>
		</li>
		<% end %>  
    </ul>
  </div>


  <div class="page-sidebar home_sidebar">
    <dl class="reasons">
      <dt>¿Cómo funciona?</dt>
      <dd>
        <img alt="" src="/images/ico-chat.png">
        <span>Creamos acciones (ILP's y firma de avales para partidos políticos) siguiendo el procedimiento legal para ser aprobados.</span>
        <hr>
      </dd>
      <dd>
        <img alt="" src="/images/ico-card.png">
        <span>Cualquier ciudadano las puede firmar on-line con su DNIe, y después recomendar a sus amigos en redes sociales.</span>
        <hr>
      </dd>
      <dd>
        <img alt="" src="/images/ico-write.png">
        <span>Al llegar al nº necesario de firmas y haber seguido el trámite legal las acciones producen cambio social.</span>
        <hr>
      </dd>
    </dl>
  </div>

  <div class="clear">&nbsp;</div>
</div>