<% content_for(:bodyclass) {"home"} -%> 
<% content_for :title, "Login Promotores"%>

<div class="page">

<h1>Login</h1>

<!-- Por si hay algún error en la validación del usuario -->				
<% flash.each do |key, value| %>
	<div class="flash <%= key %>"><%= value %></div>
<% end %>
<%= yield %>


<%= form_for(:session, :url => sessions_path) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password, "Contraseña" %><br />
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit "Sign in" %>
  </div>
<% end %>

<p>¿Nuevo usuario? <%= link_to "Registrate aquí", signup_path %></p>

</div>