<% content_for(:bodyclass) {"home"} -%> 
<% content_for :title, "Login Promotores"%>

<style type="text/css">
div.page-sidebar {
	float: left;
	min-height: 200px;	
}
div.page {
  min-height: 330px;
  padding: 20px 21px 20px 330px;
}
</style>

<div class="page">
<div class="page-sidebar">
<div class="signature_box">
<div class="form_container">

	<% if flash[:error] %>
	<div class="sign_error"
		<!-- Por si hay algún error en la validación del usuario -->				
		<% flash.each do |key, value| %>
			<div class="flash <%= key %>"><%= value %></div>
		<% end %>
		<%= yield %>
	</div>
	<% end %>

<div class="form">

<label><strong>Login</strong></label>



<%= form_for(:session, :url => sessions_path) do |f| %>
  <%= f.label :email %>
  <div class="input">
    <%= f.text_field :email %>
  </div>
  <%= f.label :password, "Contraseña" %>
  <div class="input">
    <%= f.password_field :password %>
  </div>
</div>

  <div class="btn_sign">
    <%= f.submit "Sign in" %>
  </div>
<% end %>


</div>
<div class="tradicional">
	<p>¿Nuevo usuario? <%= link_to "Registrate aquí", signup_path %></p>
</div>
</div>
</div>
</div>