<!-- En la siguiente línea va el código javascript común a todos los procesos de firma -->
<%= render :partial => "shared/signature_process" %>

<%= form_for @signature, :url => share_signature_path(@signature) do |f| %>
	<%= hidden_field_tag :xmlOCE2, @xmlOCEenc %>
	<%= hidden_field_tag :xmlSigned2 %>
<% end %>
	
<% content_for :onload, "document.getElementById('Espera').style.visibility='hidden';" %>	
	
<div class="page terms">
	<div class="page-content3">
		<div id="Espera" align="center">
			<strong>POR FAVOR, ESPERE MIENTRAS SE CARGA EL APPLET DE JAVA</strong>
		</div>
		<% if flash[:error] %>
			<div class="error">
				<strong>Error al crear la firma</strong>
				<%= flash[:error].html_safe %>
			</div>
		<% end %>
	   <h1>
	   Datos a firmar
	   </h1>
	   
	   
	   <h6>Firma para <%= @signature.proposal.name %></h6>

	   <p>A continuación, te mostramos los datos que vas a firmar.</p>
	   <p>Este documento a firmar sigue la estructura (XML) exigida por la Junta Electoral Central</p>

	   <div style="padding: 15px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
background-color: #F2F2F2;
margin-left: 1px;">
		   <p>Nombre: <%= @signature.name %></p>
		   <p>Apellido 1: <%= @signature.surname %></p>
		   <p>Apellido 2: <%= @signature.surname2 %></p>
		   <p>DNI: <%= @signature.dni %></p>
		   <p>Fecha de Nacimiento: <%= @signature.date_of_birth.strftime("%d-%m-%Y") %></p>
	   </div>
	   
	   	    <div class="btn_sign" style="padding: 24px 0 10px;
text-align: center;
border: none;">

				<a href="#" style="background: url('../images/btn_firmar.png') no-repeat scroll 0 0 transparent;
									color: #495B29;
									text-decoration: none;
									font-size: 1.4em;
									font-weight: bold;
									display: block;
									padding: 0.9em 0 0;
									width: 195px;
									height: 32px;
									text-shadow: 1px 1px white;
									margin: 0 auto;" 
									onclick="doSign();">Firma electrónica</a>


			</div>
			
		 Para poder firmar es necesario <a href="http://www.java.com/es/download/index.jsp">actualizar</a> la máquina virtual de java a la última versión.
	
	</div>
	
	
	<div class="clear">&nbsp;</div>
</div>
