<%= form_for @signature, :html => {:id => @signature.token}, :url => share_signature_path do |f| %>
	<%= hidden_field_tag :xmlOCE2, @xmlOCEenc %>
	<%= hidden_field_tag :xmlSigned2 %>
<% end %>

<div class="page terms">
	<div class="page-content3">
		<div id="Espera" align="center">
			<strong>POR FAVOR, ESPERE UNOS SEGUNDOS MIENTRAS SE CARGA EL APPLET DE JAVA Y HAZ CLICK EN EL BOTÓN DE FIRMA ELECTRÓNICA</strong>
		</div>
		<% if flash[:error] %>
			<div class="error">
				<strong>Error al crear la firma</strong>
				<%= flash[:error].html_safe %>
			</div>
		<% end %>
	   <h1>
	   Datos a firmar
	   </h1>
	   
	   
	   <h6>Firma para <%= @signature.proposal.name %></h6>

	   <p>A continuación, te mostramos los datos que vas a firmar.</p>
	   <p>Este documento a firmar sigue la estructura <a href="#" onclick="$('#xml').toggle();">(XML)</a> exigida por la Junta Electoral Central.</p>

	   <div id="xml" style="display: none; padding: 15px;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;background-color: #F2F2F2;margin-left: 1px;">
	   <%= @xmlOCEenc %>
	   </div>
	   <div style="padding: 15px;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;background-color: #F2F2F2;margin-left: 1px;">
		   <p>Nombre: <%= @signature.name %></p>
		   <p>Apellido 1: <%= @signature.surname %></p>
		   <p>Apellido 2: <%= @signature.surname2 %></p>
		   <p>DNI: <%= @signature.dni %></p>
		   <p>Fecha de Nacimiento: <%= @signature.date_of_birth.strftime("%d-%m-%Y") %></p>
	   </div>
	   
	   	    <div class="btn_sign" style="padding: 24px 0 10px;
text-align: center;
border: none;">

				<a href="#" style="background: url('../images/btn_firmar.png') no-repeat scroll 0 0 transparent;
									color: #495B29;
									text-decoration: none;
									font-size: 1.4em;
									font-weight: bold;
									display: block;
									padding: 0.9em 0 0;
									width: 195px;
									height: 32px;
									text-shadow: 1px 1px white;
									margin: 0 auto;" 
									onclick="doSign();">Firma electrónica</a>


			</div>
			
			<div id="java">
			<p>Para poder firmar en el navegador es necesario <a href="http://www.java.com/es/download/index.jsp">actualizar</a> la máquina virtual de java a la última versión.</p>
			</div>
			<div id="nojava">
				<p>INSTRUCCIONES IMPORTANTES:</p>
				<p>1º No dispones o no te funciona la máquina virtual de Java. Necesitas instalar previamente la aplicación <a href="http://mifirma-pro.s3.amazonaws.com/AutoFirma1.4.1.exe">Auto Firma</a></p>
				<p>2º Una vez instalada, pulsa el botón de firma y acepta la llamada para la invocación de la aplicación instalada.</p>
				<p>3º Realiza el proceso de firma en la nueva aplicación eligiendo el certificado y pulsando en firmar.</p>				
			</div>
			<p>Si va a utilizar el DNI Electrónico introduzcalo en el lector.</p>
			<p>Si tienes algún problema, revisa nuestra <a href="http://blog.mifirma.com/question/que-necesito-para-realizar-una-firma-con-certificado-electronico/" target="_blank"> FAQ</a>.</p>
	</div>
	
	
	<div class="clear">&nbsp;</div>
</div>

<script>
	if (MiniApplet.clienteFirma == null) {
		document.getElementById('nojava').style.display = "";
		document.getElementById('java').style.display = "none";
	} else {
		document.getElementById('nojava').style.display = "none";
		document.getElementById('java').style.display = "";
	}
</script>	
	

<%= render :partial => "shared/signature_process" %>