<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title>Gracias</title>
  <link rel="stylesheet" href="/stylesheets/modals.css" type="text/css" media="screen" title="no title" charset="utf-8">
  
</head>

<body>

  <% if flash[:error] %>
  <div class="sign_error">
    <strong>Error al crear la firma.</strong>
    <%= flash[:error].html_safe %>
  </div>
  
	<% else %>

  <div class="modal">
    <h1>¡Genial! Tu firma se ha registrado con éxito</h1>
    <div class="help_us">
      <strong>Ayúdanos a llegar a más personas</strong>
      <p>Comparte esta propuesta para poder llegar al número mínimo de personas que necesitamos</p>
    </div>
    <ul class="share">
      <li><a href="http://www.facebook.com/sharer.php?u=<%= CGI::escape @share_url %><%= "&t=#{CGI::escape @fb_text}"%>" class="fb">Facebook</a></li>
      <li><a href="http://twitter.com/home?status=<%= CGI::escape @twitter_text %>" class="twitter">Twitter</a></li>
      <li><a href="mailto:?subject=<%= @email_subject %>&body=<%= @email_body %>" class="mail">E-Mail</a></li>
    </ul>
  </div>

	<% end %>
</body>
</html>