<div class="proposal-wr">
  <div class="proposal">
    <h3> 
      <%= link_to proposal.name, proposal_path(proposal) %>
      <span>Acción promovida por: <%= link_to proposal.promoter_name, proposal.promoter_url %></span>
    </h3>
		   
    <div class="proposal_content">
			<%= image_tag proposal.banner.url, :width => 150 %> 
<p>Haciéndote fedatario ayudas a la organización en la recogida de firmas en papel.
Una vez que hayas hecho fedatario, la organización se pondrá en contacto contigo para darte los pliegos de firma e información adicional donde poder devolverlos.</p>
<p>El fedatario asume las siguientes obligaciones que intentará cumplir con diligencia y responsabilidad.
a)	Hacerse cargo de un número de pliegos para la recogida de firmas que devolverá a la organización (Oficina de Coordinación) de la Iniciativa Legislativa Popular (ILP) una vez cumplimentados o cuando ya no pueda recoger más firmas. Hasta su devolución, el fedatario debe velar para que los pliegos no se pierdan y no se estropeen.
b)	Buscar personas dispuestas a apoyar la Iniciativa Legislativa Popular y recoger sus firmas en el pliego oficial, junto con todos los datos que figuran en el mismo.
c)	Comprobar y dar fe de la identidad de la persona que firma.
d)	Firmar la diligencia que consta al final del pliego, una vez que concluya la recogida de firmas, haciendo constar el número de firmas recogidas y la fecha de finalización del pliego.
e)	A medida que los pliegos se vayan concluyendo firmados, devolverlos a la organización.          
</p>
    </div>
    

    <div class="fb-like">
      <h3>¿Estás a favor?</h3>
      <h5>Muestra tu apoyo clicando en "Me gusta"</h5>  
      <iframe src="http://www.facebook.com/plugins/like.php?href=<%= proposal_url(proposal) %>&amp;layout=standard&amp;locale=es_ES&amp;show_faces=true&amp;width=450&amp;action=like&amp;font=lucida+grande&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:40px; margin-top:15px;" allowTransparency="true"></iframe>
      
      <h6>Comparte esta propuesta</h6>
      
      <ul class="share">
        <li><a href="http://www.facebook.com/sharer.php?u=<%= CGI::escape @share_url %><%= "&t=#{CGI::escape @fb_text}"%>"><img src="/images/share/ico_fb.png" width="86" height="21" alt="Ico Fb"></a></li>
        <li><a href="http://meneame.net/submit.php?url=<%= CGI::escape @share_url %>"><img src="/images/share/ico_meneame.png" width="86" height="21" alt="Ico Fb"></a></li>
        <li><a href="http://twitter.com/home?status=<%= CGI::escape @twitter_text %>"><img src="/images/share/ico_twitter.png" width="86" height="21" alt="Ico Fb"></a></li>
      </ul>
      
      <h6>Url de la propuesta</h6>
      
      <input type="text" name="email" value="<%= proposal_url(proposal) %>" id="email">
      
    </div>
    
  </div>

</div>










