<%= content_for :bodyclass do %>proposal<% end %> 

<%= link_to "Compartir firma", social_signature_url(@signature.token), :rel => "facebox", :id => "social_share", :style => "display:none;" %>
<% javascript_tag do %>
  $(document).ready(function () {
    $("#social_share").trigger('click');
  });
<% end %>

<div class="page">

  <% if flash[:error] %>
		<div class="sign_error">
			<strong>Error al crear la firma.</strong>
			<%= flash[:error].html_safe %>
		</div>
  
	<% else %>
	
		<% if @signature.signed? %>
			<p><h7>Gracias por dar apoyo a la <%= @signature.proposal.name %>.</h7></p>
			
			</br>
			
			<p><h7>Tu firma es muy importante para empezar a cambiar las cosas. Ayudanos a difundir el mensaje!</h7></p>
			</br>
			<h7>Si quieres contribuir con el mantenimiento de este servicio tu contribucción será bienvenida.</h7>
			<div align="center">			
				<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
					<input type="hidden" name="cmd" value="_s-xclick">
					<input type="hidden" name="hosted_button_id" value="D7M9BCEK2567Y">
					<input type="image" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal. La forma rápida y segura de pagar en Internet.">
					<img alt="" border="0" src="https://www.paypalobjects.com/es_ES/i/scr/pixel.gif" width="1" height="1">
				</form>
			</div>
		<% else %>
			<h1>
				Firma incorrecta, vuelva a intentarlo pulsando aquí: <%= link_to "Firmar", @signature.tractis_contract_location %>    
			</h1>
		<% end %>
	<% end %>

</div>

<div class="clear">&nbsp;</div>
</div>