<h3 class="espacio_superior">Iniciativas</h3>

<table>

	<tbody><tr>

		<th>Iniciativa</th>

		<th>Firmas</th>

		<th>Fedatarios</th>

	</tr>
  <% @user.proposals.each do |proposal| %>
	
  <tr>

		<td><%= link_to proposal.name, edit_proposal_path(proposal.id) %></td>

		<td><div class="numeracion"><%= proposal.num_signatures_signed %></div>
			<div class="iconos_tabla">
				<% if proposal.num_signatures_signed > 0 %>			
					<%= link_to image_tag("../images/zip_icon.gif"), signatures_proposal_path(proposal) %>
				<% end %>
			</div>	
		</td>

		<td><% if proposal.class.name == "IlpProposal" %>
				<div class="numeracion"><%= proposal.num_attestors %></div>
					<div class="iconos_tabla">
					<% if proposal.num_attestors > 0 %>
						<%= link_to image_tag("../images/zip_icon.gif"), signatures_attestor_path(proposal) %>						
						<%= link_to image_tag("../images/excel_icon.gif"), list_attestor_path(proposal, :csv) %>
					<% end %>
					</div>
				<% end %> </td>

  </tr>
	<% end %>
</tbody>

</table>