<div class="page">
<div class="page-sidebar">
<div class="signature_box ancho402">
<div class="form_container">
	<% if @user.errors.any? %>
	<div class="sign_error">
		<%= render "error_messages" %>
	</div>
	<% end %>
	
<div class="form">
	<label><strong>Registro Promotores</strong></label>	
	<label>Este registro es solo para las Comisiones Promotoras, no está indicado para los usuarios que quieran firmar cualquier tipo de Iniciativa.</label>	
	<br/>
	
	<%= form_for(@user) do |f| %>
			<%= f.label :name, "Nombre" %><br />
		<div class="input ancho346">
			<%= f.text_field :name %>
		</div>

		<%= f.label :email %><br />
		<div class="input ancho346">
			<%= f.text_field :email %>
		</div>

		<%= f.label :password, "Contraseña" %><br />
		<div class="input ancho346">
			<%= f.password_field :password %>
		</div>

		<%= f.label :password_confirmation, "Confirmación de Contraseña" %><br />
		<div class="input ancho346">
			<%= f.password_field :password_confirmation %>
		</div>
		
		<div class="tos">
		  <%= f.check_box :terms %>
		  Acepto los <a href="/terms">términos y condiciones</a>
		</div>
		</div>
		<div class="btn_sign">
			<%= f.submit "Registrarse" %>
		</div>
	<% end %>
	
</div>
</div>
</div>
</div>