<% content_for(:bodyclass) {"home"} -%> 
<% content_for :title, "Información Login Promotor"%>

<div class="page">

<div id="contenedor_login">

	<h3>Datos de usuario</h3>
	<% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
  <% end %>

	<p class="datos">Sus datos son:</p>

		<div class="field">
			<%= label :name, "Nombre:" %>

			<p><%= @user.name %></p>
		</div>

		<div class="field">

			<%= label :email, "Email:" %>

			<p><%= @user.email %></p>

		</div>

		<%= render :partial => "proposals" %>

	
<div id="contenedor_dosbotones">


<div class="btn_ajustes">

			<%= link_to "Ajustes", edit_user_path(@user), :class => "ajustes" %></a>

</div>



<div class="btn_signout">

			<a class="signout" href="http://mifirma-stage.heroku.com/signout" data-method="delete" rel="nofollow">Sign out</a>

</div>


</div>


</div>

</div>
