<div class="proposal-wr">
  <div class="proposal">
    <h3> 
      <%= link_to endorsment_proposal.name, endorsment_proposal_path(endorsment_proposal) %>
      <span>Acción promovida por: <%= link_to endorsment_proposal.promoter_name, endorsment_proposal.promoter_url %></span>
    </h3>
	<div class="fb-like" data-send="false" data-width="450" data-show-faces="true" data-font="arial"></div>	   
  
    <div class="proposal_content">
	  <%= link_to image_tag(endorsment_proposal.banner.url), endorsment_proposal.promoter_url %>		
      <%= endorsment_proposal.howto_solve.html_safe %>
    </div>
    

    <div class="fb-like2">
      <h6>Comparte esta propuesta</h6>
   
      <ul class="share">
        <li><a href="http://www.facebook.com/sharer.php?u=<%= CGI::escape @share_url %><%= "&t=#{CGI::escape @fb_text}"%>"><img src="/images/share/ico_fb.png" width="86" height="21" alt="Ico Fb"></a></li>
        <li><a href="http://meneame.net/submit.php?url=<%= CGI::escape @share_url %>"><img src="/images/share/ico_meneame.png" width="86" height="21" alt="Ico Fb"></a></li>
        <li><a href="http://twitter.com/home?status=<%= CGI::escape @twitter_text %>"><img src="/images/share/ico_twitter.png" width="86" height="21" alt="Ico Fb"></a></li>
      </ul>
    </div>
    
    <span class="shadow"></span>
    
  </div>

</div>










