<div class="signatures_counter">
  <h4><strong><%= @endorsment_proposal.num_signatures %></strong> firma<%= "s" if @endorsment_proposal.num_signatures != 1 %></h4>
  
  <%= link_to 'Firmas por Provincia', {:action => "show_signatures_by_province"}, :class => "by_provincias"  %>
</div>

<div class="form_container">

  <% if flash[:error] %>
  <div class="sign_error">
    <strong>Error al crear la firma.</strong>
    <%= flash[:error].html_safe %>
  </div>
  <% end %>
  
  <% if @endorsment_proposal.on_signature_time? %>
    <%= form_for @signature do |f| %>
    <div class="form">
    
    <label for="province">Provincia donde está censado</label>
    <div class="input">
        <%= f.select :province_id, @provinces.collect {|p| [p.name,p.id]}, { :include_blank => true } %>
    </div>
      
    <label for="name">Tu nombre</label>
    <div class="input">
      <%= f.text_field :name %>
    </div>
    
    <label for="surname">Tu primer apellido</label>
    <div class="input">
      <%= f.text_field :surname %>
    </div>
    
    <label for="surname2">Tu segundo apellido</label>
    <div class="input">
      <%= f.text_field :surname2 %>
    </div>

    <label for="dni">Tu NIF (DNI + letra)</label>
    <div class="input">
      <%= f.text_field :dni %>
    </div>

    <label for="date_of_birth">Fecha de Nacimiento (dd/mm/aaaa)</label>
    <div class="input">
      <%= f.text_field :date_of_birth %>
    </div>
    
  
    <label for="email">Tu email</label>
    <div class="input">
      <%= f.hidden_field :proposal_id %>
      <%= f.text_field :email %>
    </div>

    <div class="tos">
      <%= f.check_box :terms %>
      Acepto los <a href="/terms">términos y condiciones</a>
    </div>
    
    </div>

    <div class="btn_sign">
    <a href="#" onclick="$('#new_endorsment_signature').submit(); return false;">Firma electrónica</a>
    </div>
        
    <% end %>
  <% else %>
  <h4>No se admiten más firmas para este partido. Se ha superado el plazo de recepción de firmas </h4>
  <% end %>

  
</div>

<div class="tradicional">
  <p><a href="https://www.tractis.com/home/certificates#spain">Ver lista completa de certificados soportados</a></p>
</div>
