<%= content_for :bodyclass do %>proposal<% end %> 
<div class="page">
<h2>Listado de partidos que necesitan avales:</h2>

<table>
  <tr>
		<th></th>
		<th>Nombre</th>
		<th>Web del Partido</th>
		<th></th>
  </tr>

<% @endorsment_proposals.each do |endorsment_proposal| %>
  <tr>
		<td><%= image_tag endorsment_proposal.banner.url %> 
		<td><%= endorsment_proposal.promoter_name %>
		<td><%= endorsment_proposal.promoter_url %>
		<td><%= link_to 'Avalar', endorsment_proposal %></td>
  </tr>
<% end %>
</table>

</div>
