<%= content_for :bodyclass do %>proposal<% end %> 
<div class="page">
<h6>Listado de firmas por provincia:</h6>

<ul class="partidos">
    <li>
      <%= image_tag @endorsment_proposal.banner.url, :width => 180, :height => 135, :class => "thumb" %> 
      <div class="info">
        <h3><%= @endorsment_proposal.promoter_name %></h3>
        <%= link_to @endorsment_proposal.promoter_url, @endorsment_proposal.promoter_url, :class => "url" %>
      </div>
    </li>
</ul>

<ul class="provincias">
  <li>
    <span>Ciudad</span>
    <span>Firmas</span>
  </li>
  <% @endorsment_proposal.num_signatures_by_province.each do |endorsment_proposal| %>
  <li>
    <span class="city"><%= endorsment_proposal.province.name %></span>
    <span class="sign"><%= endorsment_proposal.total_signatures%></span>
  </li>
  <% end %>
</ul>
</div>