<div class="footer-wr">

  <div class="footer">
    <div class="footer-nav">
      <ul class="nav">
         <li><%= link_to "Ayuda", 'http://blog.mifirma.com/faq', :target => "_blank" %></li>
         <li><span class="li-sep">|</span><%= link_to "Sobre nosotros", '/sobre_nosotros' %></li>
         <li><span class="li-sep">|</span><%= link_to "Términos de Uso", '/terms' %></li>
         <li><span class="li-sep">|</span><%= link_to "Privacidad", '/privacy' %></li>
         <li><span class="li-sep">|</span><%= mail_to "info@mifirma.com", "Contacto" %></li>
       </ul>
       
       <p><strong>MiFirma</strong> es el resultado de la unión de dos plataformas: <strong>Mifirma.com</strong> e <strong>Iniciativalegislativapopular.es</strong></p>
       
      
      <p><strong>Mifirma.com ©<%= Time.now.year %></strong>. Todos los derechos reservados. Contacta en <%= mail_to "info@mifirma.com" %></p>

    </div>
    

  </div>

</div>
