<div class="footer-wr">

  <div class="footer">
    <div class="footer-nav">
      <ul class="nav">
         <li><%= link_to "Ayuda", 'http://blog.mifirma.com/faq', :target => "_blank" %></li>
         <li><span class="li-sep">|</span><%= link_to "Sobre nosotros", '/sobre_nosotros' %></li>
         <li><span class="li-sep">|</span><%= link_to "Términos de Uso", '/terms' %></li>
         <li><span class="li-sep">|</span><%= link_to "Privacidad", '/privacy' %></li>
         <li><span class="li-sep">|</span><%= mail_to "info@mifirma.com", "Contacto" %></li>
       </ul>
       
       <p><strong>MiFirma</strong> es el resultado de la unión de dos plataformas: <strong>Mifirma.com</strong> e <strong>Iniciativalegislativapopular.es</strong></p>
       
       <p>Todo lo relacionado con Firma electrónica puedes consultarlo en la sección de <a href="https://www.tractis.com/dnie">ayuda de Tractis</a> o en <a href="mailto:info@tractis.com">info@tractis.com</a></p>
      
      <p><strong>Mifirma.com ©<%= Time.now.year %></strong>. Todos los derechos reservados. Contacta en <%= mail_to "info@mifirma.com" %></p>

    </div>
    
    <div class="tractis">
      <a href="https://www.tractis.com/electronic-signatures-powered-by-tractis" title="Electronic Signatures Powered by Tractis"><img alt="Electronic Signatures Powered by Tractis" src="http://cdn.tractis.com/buttons/electronic-signatures-powered-by-tractis.png" /></a>
    </div>
 
 
  </div>

</div>
