<%= content_for :bodyclass do %>proposal<% end %> 

<%= link_to "Compartir firma", social_signature_url(@signature.token), :rel => "facebox", :id => "social_share", :style => "display:none;" %>
<% javascript_tag do %>
  $(document).ready(function () {
    $("#social_share").trigger('click');
  });
<% end %>

<div class="page">

  <% if flash[:error] %>
		<div class="sign_error">
			<strong>Error al crear la firma.</strong>
			<%= flash[:error].html_safe %>
		</div>
  
	<% else %>
	
		<% if @signature.signed? %>
			<p><h7>Gracias hacerte fedatario para la <%= @signature.proposal.name %>.</h7></p>

			</br>
			
			<h7>Comparte esta propuesta para poder llegar al número mínimo de personas que necesitamos</h7>
		<% else %>
			<h1>
				Firma incorrecta, vuelva a intentarlo pulsando aquí: <%= link_to "Firmar", @signature.tractis_contract_location %>    
			</h1>
		<% end %>
	<% end %>

</div>

<div class="clear">&nbsp;</div>
</div>