<div class="proposal-wr">
  <div class="proposal">
    <h3> 
      <%= link_to proposal.name, proposal_path(proposal) %>
      <span>Acción promovida por: <%= link_to proposal.promoter_name, proposal.promoter_url %></span>
    </h3>
		   
    <div class="proposal_content">
			<%= link_to image_tag(proposal.banner.url), proposal.promoter_url %>
      <%= proposal.howto_solve.html_safe %>
    </div>
    
    <div class="download">
      <p>Descarga la propuesta de ley en PDF</p>
      <%= link_to "Download", proposal.pdf.url %>
    </div>
		<% if proposal.attestor_template_code %>
			<div class="attestor">
				<div class="txt_ayuda"><strong>"Ayuda a la organización en la recogida de firmas en papel"</strong></div>
				<p>¡Hazte FEDATARIO!</p>
				<%= link_to "Fedatario", attestor_path(proposal.id) %>
			</div>
		<% end %>
    <div class="fb-like">
      <h3>¿Estás a favor?</h3>
      <h5>Muestra tu apoyo clicando en "Me gusta"</h5>  
      <iframe src="http://www.facebook.com/plugins/like.php?href=<%= proposal_url(proposal) %>&amp;layout=standard&amp;locale=es_ES&amp;show_faces=true&amp;width=450&amp;action=like&amp;font=lucida+grande&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:80px; margin-top:15px;" allowTransparency="true"></iframe>
      
      <h6>Comparte esta propuesta</h6>
      
      <ul class="share">
        <li><a href="http://www.facebook.com/sharer.php?u=<%= CGI::escape @share_url %><%= "&t=#{CGI::escape @fb_text}"%>"><img src="/images/share/ico_fb.png" width="86" height="21" alt="Ico Fb"></a></li>
        <li><a href="http://meneame.net/submit.php?url=<%= CGI::escape @share_url %>"><img src="/images/share/ico_meneame.png" width="86" height="21" alt="Ico Fb"></a></li>
        <li><a href="http://twitter.com/home?status=<%= CGI::escape @twitter_text %>"><img src="/images/share/ico_twitter.png" width="86" height="21" alt="Ico Fb"></a></li>
      </ul>
      
      <h6>Url de la propuesta</h6>
      
      <input type="text" name="email" value="<%= proposal_url(proposal) %>" id="email">
      
    </div>
    
  </div>

</div>










