<div class="signatures_counter">
  <h4><strong><%= proposal.num_signatures %></strong> firma<%= "s" if proposal.num_signatures != 1 %></h4>
  
  <div class="graph">
    <div class="num" style="width:<%= (220 * proposal.precent_remaining_signatures).ceil + 30 %>px;"></div>
    <div class="total">Faltan <%= proposal.num_remaining_signatures %></div>
  </div>
  
</div>

<div class="form_container">

  <% if flash[:error] %>
  <div class="sign_error">
    <strong>Error al crear la firma.</strong>
    Email no válido. Por favor, comprueba que has introducido correctamente tu dirección de correo electrónico.
  </div>
  <% end %>
  
  <% form_for proposal.signatures.new do |f| %>
  <div class="form">
    
    <label for="name">Nombre</label>
    <div class="input">
      <%= f.text_field :name %>
    </div>

    <label for="name">Apellidos</label>
    <div class="input">
      <%= f.text_field :surname %>
    </div>
    
    <label for="name">Apellidos</label>
    <div class="input">
      <input type="text" name="lastname" value="" id="lastname">
    </div>
    
    <label for="name">D.N.I</label>
    <div class="input">
      <%= f.text_field :dni %>
    </div>
    
    <label for="email">Tu email</label>
    <div class="input">
      <%= f.hidden_field :proposal_id %>
      <%= f.text_field :email %>
    </div>

    <div class="tos">
      <input type="checkbox" name="agree" value="yes" />
      Acepto los <a href="#">términos y condiciones</a>
    </div>
    
  </div>

  <div class="btn_sign">
    <a href="#" onclick="$('#new_signature').submit(); return false;">Firma electónica</a>
  </div>
  
  
  <% end %>
</div>

<div class="tradicional">
  <p>
    Si no dispones de <strong>DNI electrónico</strong> puedes mostrar tu apoyo con una <a href="#" onclick="alert('Próximamente en MiFirma'); return false;">firma tradicional</a>
  </p>
</div>
