<div class="signatures_counter">
  <h4>
    <strong><%= @proposal.num_signatures %></strong> firma<%= "s" if @proposal.num_signatures != 1 %>
    <span>Manuscritas: <%= @proposal.handwritten_signatures %></span>
  </h4>
  
  <div class="graph">
    <div class="num" style="width:<%= (220 * @proposal.precent_remaining_signatures).ceil + 30 %>px;"></div>
    <div class="total">Faltan <%= @proposal.num_remaining_signatures %></div>
  </div>
  
</div>

<div class="form_container">

  <% if flash[:error] %>
  <div class="sign_error">
    <strong>Error al crear la firma.</strong>
    <%= flash[:error].html_safe %>
  </div>
  <% end %>
  
  <% if @proposal.on_signature_time? %>
	  <%= form_for @signature, :url => signatures_path(@signature) do |f| %>
	  <div class="form">
		<label><strong>Datos requeridos por la <a href="http://www.juntaelectoralcentral.es">JEC</a></strong></label>
		
    <label for="name">Tu nombre</label>
    <div class="input">
      <%= f.text_field :name %>
    </div>
    
    <label for="surname">Tu primer apellido</label>
    <div class="input">
      <%= f.text_field :surname %>
    </div>
    
    <label for="surname2">Tu segundo apellido</label>
    <div class="input">
      <%= f.text_field :surname2 %>
    </div>

    <label for="dni">Tu DNI</label>
    <div class="input">
      <%= f.text_field :dni %>
    </div>

    <label for="date_of_birth">Fecha de Nacimiento (dd/mm/aaaa)</label>
    <div class="input">
      <%= f.text_field :date_of_birth %>
    </div>
		
  	<label for="email">Tu email</label>
		<div class="input">
		  <%= f.hidden_field :proposal_id %>
		  <%= f.text_field :email %>
		</div>

		<div class="tos">
		  <%= f.check_box :terms %>
		  Acepto los <a href="/terms">términos y condiciones</a>
		</div>
		
	  </div>

	  <div class="btn_sign">
		  <a href="#" onclick="$('#new_ilp_signature').submit(); return false;">Firma electrónica</a>
	  </div>
	  
	  <div id="signature">

	  </div>
	  
	  <% end %>
  <% else %>
	<h4>No se admiten más firmas para esta Iniciativa. Se ha superado el plazo de recepción de firmas </h4>
  <% end %>
  
</div>

<div class="tradicional">
  <p><a href="https://www.tractis.com/home/certificates#spain">Ver lista completa de certificados soportados</a></p>
  <p>
    Si no dispones de un <strong>certificado electrónico</strong> puedes mostrar tu apoyo con una <a href="#" onclick="alert('Próximamente en MiFirma'); return false;">firma tradicional</a>
  </p>
</div>
