<div class="signatures_counter">
  <h4>
    <strong><%= @proposal.num_signatures %></strong> firma<%= "s" if @proposal.num_signatures != 1 %>
    <span>Manuscritas: <%= @proposal.handwritten_signatures %></span>
  </h4>
  
  <div class="graph">
    <div class="num" style="width:<%= (220 * @proposal.precent_remaining_signatures).ceil + 30 %>px;"></div>
    <div class="total">Faltan <%= @proposal.num_remaining_signatures %></div>
  </div>
  
</div>

<div class="form_container">

  <% if flash[:error] %>
  <div class="sign_error">
    <strong>Error al crear la firma.</strong>
    <%= flash[:error].html_safe %>
  </div>
  <% end %>
  
  <% if @proposal.on_signature_time? %>
	  <%= form_for @signature, :url => signatures_path(@signature) do |f| %>
	  <div class="form">
		<label><strong>Datos requeridos por la <a target="_blank" href="http://www.juntaelectoralcentral.es">Junta Electoral Central</a></strong></label>
		
    <label for="name">Tu nombre</label>
    <div class="input">
      <%= f.text_field :name %>
    </div>
    
    <label for="surname">Tu primer apellido</label>
    <div class="input">
      <%= f.text_field :surname %>
    </div>
    
    <label for="surname2">Tu segundo apellido</label>
    <div class="input">
      <%= f.text_field :surname2 %>
    </div>

    <label for="dni">Tu NIF (DNI + letra)</label>
    <div class="input">
      <%= f.text_field :dni %>
    </div>

    <label for="date_of_birth">Fecha de Nacimiento (dd/mm/aaaa)</label>
    <div class="input">
      <%= f.text_field :date_of_birth %>
    </div>
		
	<% if (@proposal.autonomica? ) %>	
		<label><strong>Domicilio (donde se está censado)</strong></label>
		<label for="province">Provincia</label>
		<div class="input">
				<%= f.select :province_id, @provinces.collect {|p| [p.name,p.id]}, { :include_blank => true } %>
		</div>

		<label for="municipality">Municipio</label>
		<div class="input">
			<% if not (@signature.province_id.nil? ) %>
				<%= f.select :municipality_id, Municipality.find_all_by_province_id(@signature.province.id_ine).collect {|p| [p.name,p.id]}, { :include_blank => true } %>
			<% else %>
				<%= f.select :municipality_id, [] , { :prompt => "Seleccione Provincia" } %>
			<% end %>
		</div>
	<% end %>
	
	<br/>
	<label><strong>Datos de contacto</strong></label>	
  	<label for="email">Tu email</label>
	<div class="input">
	  <%= f.hidden_field :proposal_id %>
	  <%= f.text_field :email %>
	</div>

	<div class="tos">
	  <%= f.check_box :terms %>
	  Acepto los <a href="/terms">términos y condiciones</a>
	</div>
		
	  </div>

	  <div class="btn_sign">
		  <a href="#" onclick="$('#new_ilp_signature').submit(); return false;">Firma electrónica</a>
	  </div>
	  
	  <div id="signature">

	  </div>
	  
	  <% end %>
  <% else %>
	<h4>No se admiten más firmas para esta Iniciativa. Se ha superado el plazo de recepción de firmas </h4>
  <% end %>
  
</div>

<div class="tradicional">
  <p><a href="http://blog.mifirma.com/question/para-que-utiliza-mifirma-com-el-dinero-de-los-donativos-recibidos/">¿Para qué utiliza Mifirma.com el dinero de los donativos recibidos?</a></p>
  <div align="center">
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
		<input type="hidden" name="cmd" value="_s-xclick">
		<input type="hidden" name="hosted_button_id" value="D7M9BCEK2567Y">
		<input type="image" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal. La forma rápida y segura de pagar en Internet.">
		<img alt="" border="0" src="https://www.paypalobjects.com/es_ES/i/scr/pixel.gif" width="1" height="1">
	</form>
</div>
</div>

<div id="feedback" class="tradicional">
  <p>¿Algún problema para continuar?</p>
  <p>Nos gustaría contar con tu ayuda para poder seguir mejorando</p>
  <div align="center" >
	<%= form_for @feedback_signature, :remote => true do |f| %>
		<%= f.collection_select :reason_feedback_id, @reasons, :id, :reason, { :include_blank => true } %>
		<script>
			$('#feedback_signature_reason_feedback_id').change(function() {
				$.ajax({
					type: "POST",
					url: "<%= feedback_signatures_path %>",
					data: {feedback_signature: {
							  reason_feedback_id : $('#feedback_signature_reason_feedback_id').val(),
							  proposal_id : "<%= @proposal.id %>"
						}},
					dataType: "script"
				});
			});
		</script>
	<% end %>
  </div>
</div>
