<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="es">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta property="fb:page_id" content="220483497980047" />
  <meta property="fb:admins" content="220483497980047" />
  <link rel="shortcut icon" href="/images/favicon.ico" >

  <title><%= page_title %></title>

  <%= stylesheet_link_tag "screen", "selectbox" %>
  <link rel="stylesheet" href="/javascripts/facebox/facebox.css" type="text/css" media="screen" title="no title" charset="utf-8">

  <%= javascript_include_tag :defaults, "facebox/facebox.js", "jquery.selectbox-0.1.2.min.js" %>


</head>
<body class="<%= yield(:bodyclass) %>">

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_ES/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <div class="main-wr">
    <div class="main">
      <div class="header-top">
        <a class="logo" href="/"><img class="pngfix" src="/images/logo.png" alt="" /></a>
        <%= render :partial => "/shared/menu" %>
      </div>
      <div class="header-bottom">
        <div class="lh">
          <img class="pngfix" src="/images/libreta.png" alt="" />
        </div>
        <div class="rh">
          <h2>Por primera vez puedes cambiar las <br /> cosas. Con tu firma</h2>
		<!--   <p>MiFirma.com tiene como principal objetivo ofrecer a la sociedad un medio sencillo para que, a través de la tecnología, el ciudadano ejerza eficazmente sus derechos de participación en los asuntos públicos.</p> -->
          <ul>
			<li><img class="bullet pngfix" src="/images/bullet-1.png" alt="" /><div><b>Recogemos firmas</b> <br />aptas legalmente</div></li>
            <li><img class="bullet pngfix" src="/images/bullet-2.png" alt="" /><div><b>Cambiamos las cosas</b> <br />con el voto de todos</div></li>
          </ul>
        </div>
      </div><%= yield %>
    </div>

<%= debug (params) if Rails.env.development? %>
  </div>

  <%= render :partial => "shared/footer" %>

  <!--[if lt IE 7]>
<script type="text/javascript" src="/javascripts/DD_belatedPNG_min.js"></script>
<script type="text/javascript">DD_belatedPNG.fix('*.pngfix');
</script>
<![endif]-->

  <%= render :partial => 'shared/google_analytics' %>

</body>
</html>